@keyframes show-header {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0%);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }