.header{
    background-color:white;
    color:black;
    text-align: left;
    padding: 28px;
    display: flex;
}
.header__logo{
}
.header__icons{
    min-width: 600px;
    display: flex;
}