.main{
    background-color:white;
    color:black;
}
.section {
    padding: 20px 0 100px 0;
}
.gift-card{
    display: flex;
    gap: 30px;
   }
   .gift-card__wrap-right{
    width: 500px;
    flex-shrink: 0;
   }
   .banner{
    background-image: url("../image/main_image.png");
    min-height: 650px;
    padding: 80px;
   }
  .banner__title{
    font-size: 120px;
    color: rgb(255, 255, 255);
  }
  .banner__subtitle{
    font-size: 80px;
    color: rgb(255, 255, 255);
  }
   .popular__card{
    width: 350px;
    /* padding: 15px; */
   color: black;
   }
   .popular {
    margin: 0;


    flex-wrap: wrap;
    list-style-type: none;
   }
   .popular__wrap {
    display: flex;
    gap: 20px;
    justify-content: space-between;
   }
   .category__card__wrap {
    display: flex;
    gap: 20px;
    justify-content: space-between;
   }
   .gift-card{
    background-image: url("../image/background_giftcard.png");
    min-height: 450px;
    
   }
   .telegram__wrap {
    display: flex;
    gap: 20px;
    justify-content: space-between;
   }

 .telegram__animate {
  position: relative;
  will-change: top;
  transition: top 0.2s linear;
  transform: translateY(-50%);
  animation: show-header 0.8s ease-out forwards;
 }
 /* .telegram__animate:hover {
  top: 10px;
 } */

 .scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #AC8166;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.scroll-up--show {
  opacity: 1;
  visibility: visible;
}

.popular__card2{
  width: 350px;
  /* padding: 15px; */
 color: black;
 }
 .popular {
  margin: 0;


  flex-wrap: wrap;
  list-style-type: none;
 }
 .popular__wrap2 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
 }

 /* Скрываем контент до загрузки */
.content {
  display: none;
}

/* Стили для прелоадера */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
  background: #fefefb;
  transition: opacity 0.5s ease;
}

.loader {
  width: 60px;
  height: 60px;

  border: 8px solid #fbf9f4;
  border-top: 8px solid #d38452;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}